body{
    /* font-family: 'Amiri', serif; */
    /* font-family: 'Times New Roman', Times, serif; */
    font-family: 'Work Sans', sans-serif !important;
    direction: rtl;
}
:root{
    --text-color: #CF3200;
}
ul{
    list-style: none;
}
a{
    text-decoration: none !important;
    width: fit-content;
}
*{
    transition:all .3s linear !important;
}
.container{
    width: 100% !important;
    padding-right: 15px !important;
    padding-left: 15px !important;
    margin-right: auto !important;
    margin-left: auto !important;
}
@media (min-width: 1200px){
    .container {
        max-width: 1140px !important;
    }
}
@media (min-width: 992px) and (max-width: 1199px){
    .container {
        max-width: 960px !important;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .container {
        max-width: 720px !important;
    }
}
@media (min-width: 576px) and (max-width: 767px){
    .container {
        max-width: 540px !important;
    }
}


/* start fixed img left and right */
.fixed-whats{
    position: fixed;
    bottom: 40px;
    right: 15px;
    z-index: 10000;
}
.fixed-whats a img{
    width: 50px;
    height: 50px;
    animation-name: rotate-fixed-img;
    animation-timing-function: linear;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.fixed-phone{
    position: fixed;
    bottom: 40px;
    left: 15px;
    z-index: 10000;
    animation-name: rotate-fixed-img;
    animation-timing-function: linear;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.fixed-phone a img{
    width: 50px;
    height: 50px;
}
@keyframes rotate-fixed-img {
    0%{
        transform: rotate(25deg);
    }
    100%{
        transform: rotate(-30deg);
    }
}
/* end fixed img left and right */

/* start small-nav */
.small-head{
    width: 100%;
    height: 35px;
    background-color: var(--text-color);
    position: relative;
    z-index: 4444;
}
.small-nav .container{
    background-color: aliceblue !important;
    position: relative;

    width: 100px;
    z-index: 11;
}
.small-head .row .icons a:hover{
    color: #323232 !important;
}
@media (max-width: 991px) {
    .small-head{
        display: none;
    }
}
/* end small-nav */

/* start navbar */
.navbar{
    background-color: white !important;
    padding: .5rem 1rem;
    position: fixed !important;
    box-shadow: 0px 0px 10px 1px black;
    direction: ltr !important;
    left: 0px;
    top: 34px;
    width: 100%;
    z-index: 999;
    opacity: 1;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
.navbar .navbar-brand{
    color: #CF3200 !important;
}
.navbar .navbar-brand i{
    font-size: 45px !important;
    margin-bottom: 5px;
    animation-name: rotate-logo;
    animation-timing-function: linear;
    animation-duration: .7s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes rotate-logo {
    0%{
        transform: rotate(-5deg);
        opacity: .8;
    }
    100%{
        transform: rotate(5deg);
        opacity: 1;
    }
}
.navbar-collapse{
    flex-grow: 0 !important;
}
.navbar-toggler{
    color: var(--text-color) !important;
    border-color: var(--text-color) !important;
}
.navbar-nav .nav-link{
    padding: 10px 41px !important;
    font-size: 20px !important;
    font-weight: bold;
    position: relative;
    color: #323232 !important;
}
.nav-item .active::after{
    content: "";
    position: absolute;
    width: 40px !important;
    height: 5px;
    bottom: 0;
    border-radius: 5px;
    right: 0px;
    color: var(--text-color);
    background-color: var(--text-color);
    transition: all .3s linear;
}
.nav-item .active::before{
    content: "";
    position: absolute;
    width: 40px !important;
    height: 5px;
    bottom: 0;
    border-radius: 5px;
    right: 0px;
    color: var(--text-color);
    background-color: var(--text-color);
    transition: all .3s linear;
}
.nav-item .active{
    color: var(--text-color) !important;
}
.navbar-nav .nav-link:hover{
    color: var(--text-color) !important;
}
.navbar-nav .nav-link::after{
    content: "";
    position: absolute;
    width: 0px;
    height: 5px;
    bottom: 0;
    border-radius: 5px;
    right: 0px;
    color: var(--text-color);
    background-color: var(--text-color);
    transition: all .3s linear;
}
.navbar-nav .nav-link::before{
    content: "";
    position: absolute;
    width: 0px;
    height: 5px;
    border-radius: 5px;
    top: 0;
    left: 0px;
    color: var(--text-color);
    background-color: var(--text-color);
    transition: all .3s linear;
}
.navbar-nav .nav-link:hover::after{
    width: 40px;
}
.navbar-nav .nav-link:hover::before{
    width: 40px;
}
.dropdown-toggle::after{
    border-right: 0em solid transparent !important;
    border-left: 0em solid transparent !important;
}
.dropdown-menu{
    left: 15px !important;
}
.dropdown-item{
    padding-top: 8px !important;
}
.dropdown-item:hover{
    color: var(--text-color) !important;
    background-color: ghostwhite !important;
}
@media (max-width: 991px) {
    .navbar{
        top: 0 !important;
    }
    .nav-link::after{
        display: none !important;
    }
    .nav-link::before{
        display: none !important;
    }
}
/* end navbar */

/* start carousel */
/* .carousel{
    top: 100px;
} */
.carousel-indicators .active{
    background-color: var(--text-color) !important;
}
.carousel-indicators button{
    height: 15px !important;
    border-radius: 12px !important;
    background-color: rgb(0, 0, 0) !important;
}
.carousel-item .w-100{
    height: 725px !important;
    background-position: center center !important;
}
.carousel-item::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.507);
}
.carousel-caption{
    z-index: 100;
    bottom: 2rem !important;
}
.carousel-caption h3{
    font-size: 75px !important;
    font-weight: bold;
}
.carousel-caption p{
    font-size: 38px;
}
/* end carousel */

/* start row-under-carousel */
.call-us-icons {
    width: 200px;
    height: 50px;
}
.row-under-carousel p{
    color: #238e80;
}
@media (max-width: 575px){
    .row-under-carousel .container .row div:nth-of-type(1){
        justify-content: center !important;
    }
    .row-under-carousel .container .row div:nth-of-type(3){
        justify-content: center !important;
    }
}
/* end row-under-carousel */

/* start about */
.about{
    width: 100%;
    /* background-color: lightgray; */
}
.about .about-text h2{
    color: var(--text-color);
    font-size: 35px;
}
.about .about-text span:nth-of-type(2){
    color: var(--text-color);
}
.about .about-text .fa-caret-left{
    color: var(--text-color);
}
@media (max-width: 991px){
    .about{
        padding: 10px !important;
    }
    .about .about-img{
        order: 2;
    }
}
/* end about */

/* start services */
.services{
    /* background-image: url(../imgs/services.jpg); */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    /* background-position: center center; */
    background-color: #e4e4e457;
    width: 100%;
    height: fit-content;
}
.services h1{
    color: var(--text-color);
}
.services .p-under-h1{
    color:black;
}
.services .box{
    width: 340px;
    background-color: white;
    box-shadow: 0 3px 5px 2px #b1b1b18f;
    /* border-top: 8px solid var(--text-color) !important; */
}
.services .box h2{
    color: var(--text-color);
    text-align: center !important;
}
.services .box .services-img{
    width: fit-content;
    height: 300px;
    width: 100%;
    overflow: hidden;
    /* border-radius: 5px; */
    /* border: 3px solid var(--text-color); */
    filter: grayscale(100%) !important;
}
.services .box .services-img:hover{
    box-shadow: 0px 0px 5px 2px rgba(0, 140, 255, 0.555);
    filter: grayscale(0%) !important;
}
.services .box .services-img img:nth-of-type(1){
    height: 100%;
    transform: scale(1.1 , 1.1);
}
.services .box .services-img:hover img:nth-of-type(1){
    height: 100%;
    transform: scale(1.3 , 1.3) rotate(10deg);
}
.services .box .services-img .logo-img{
    top: -50px;
    width: 100%;
    padding: 10px 15px;
    background-color: #000000b9;
    color: gainsboro !important;
}
.services .box p{
    height: 100px;
}
.services .services-icons a button{
    background-color: var(--text-color) !important;
}
/* end services */

/* start section-under-services */
.section-under-services{
    background-color: var(--text-color);
    width: 100%;
    height: 150px;
}
@media (max-width: 767px){
    .section-under-services{
        height: 250px;
    }
}
/* end section-under-services */

/* start footer */
footer{
    background-image: url(../imgs/footer-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* end footer */